.main {
	display: flex;
	justify-content: space-between;
	// padding: 20px;
	border-radius: 8px;
	overflow: hidden;
	@include themeify {
		// background-color: themed("BG2");
		border: 1px solid themed('Bg3');
		box-sizing: border-box;
	}

	.table {
		flex: auto;
	}
	.table-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.table-top {
		font-family: 'PingFang SC';
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		height: 44px;
		line-height: 44px;
		width: 100%;
		text-align: center;
		// margin-bottom: 20px;

		@include themeify {
			color: themed('Text1');
			background-color: themed('Bg3');
			border-right: 1px solid themed('Bg4');
			box-sizing: border-box;
		}
	}
	.table-line {
		font-family: 'PingFang SC';
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		height: 44px;
		line-height: 44px;
		width: 100%;
		text-align: center;
		@include themeify {
			color: themed('Text1');
			background-color: themed('Bg1');
			border-right: 1px solid themed('Bg3');
			border-bottom: 1px solid themed('Bg3');
			box-sizing: border-box;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	.table:last-child {
		@include themeify {
			.table-line {
				border-right: 0px;
			}
			.table-top {
				border-right: 0px;
			}
		}
	}
}
