.activeColor {
	@include themeify {
		color: themed('Text_s') !important;
	}
}

.activeBg {
	@include themeify {
		background: themed('Bg3') !important;
	}
}

.left_main {
	width: 260px;

	@include themeify {
		background: themed('Bg4');
		box-shadow: themed('leftMenuBoxShadow');
	}
	position: relative;
	transition: width 0.2s ease;
	height: 100vh;
	box-sizing: border-box;
	overflow-y: auto;
	z-index: 1;
}
.left_main::-webkit-scrollbar {
	display: none;
}

.left_main_header {
	width: 260px;
	height: 64px;
	position: fixed;
	z-index: 10;
	display: flex;
	align-items: center;
	// @include flex_center;
	@include themeify {
		$line-color: themed('Line');
		background: themed('Bg4');
		box-shadow: 0px -1px 0px 0px $line-color inset;
	}
	.collapse_icon {
		width: 44px;
		height: 44px;
		margin: 12px 10px;
		&.icon {
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 4px;
			@include themeify {
				$line-color: themed('Line');
				color: themed('icon');
				background: themed('Bg1');
			}
			&:hover {
				@include themeify {
					color: themed('Text_s');
				}
			}
		}
	}

	.login_plan {
		display: flex;
		align-items: center;
		flex: 1;
		justify-content: center;
		img {
			width: 164px;
			// height: 25px;
		}
		.logoTitle {
			color: themed('Theme');
			font-family: ‘HYYakuHei’;
			font-size: 28px;
			font-style: normal;
			font-weight: 900;
			line-height: normal;
			margin-left: 8px;
		}
	}
}

.left_main_header_placeholder {
	height: 64px;
}

.left_scroll {
	width: 260px;
	box-sizing: border-box;
	padding: 0 10px;
	cursor: pointer;
	// 奖金
	.left_scroll_conatiner1 {
		padding: 8px;
		margin: 16px auto;
		border-radius: 5px;
		@include themeify {
			background: themed('Bg2');
		}
		.left_bonus {
			@include flex_align_center;
			border-radius: 4px;
			@include themeify {
				background: themed('Bg1');
			}
		}
		// 任务抽奖
		.task_lottery {
			@include flex_space_between;
			.task_lottery_item {
				@include flex_align_center;
				width: 108px;
				height: 44px;
				border-radius: 4px;
				.task_lottery_item_text1 {
					@include themeify {
						color: themed('Text_s');
					}
				}
			}
			.bg_Bg1 {
				@include themeify {
					background: themed('blg1');
				}
			}
			.bg_Bg2 {
				@include themeify {
					background: themed('blg2');
				}
			}
		}
	}

	//推荐码
	.referralcode_conatiner {
		@include themeify {
			background: themed('Bg1');
		}

		.referralcode_row1 {
			position: relative;
			.referralcode_input1 {
				width: 100%;
				height: 52px;
				box-sizing: border-box;
				border: none;
				padding-left: 10px;
				@include themeify {
					background: themed('Bg4');
					color: themed('Text_s');
				}
			}
			.referralcode_input1::-webkit-input-placeholder {
				@include themeify {
					color: themed(('Text2'));
				}
			}
			.referralcode_btn1 {
				position: absolute;
				top: 50%;
				right: 4px;
				width: 80px;
				height: 48px;
				box-sizing: border-box;
				transform: translate(0, -50%);
				cursor: pointer;
				@include themeify {
					background: themed('Bg3');
					color: themed(('Text2'));
				}
				@include flex_center;
			}
		}

		.referralcode_row2 {
			@include themeify {
				color: themed('Text2');
			}
		}
	}

	//帮助中心
	.helpcenter_container {
		@include flex_align_center;
		border-radius: 4px;
		@include themeify {
			background: themed('Bg1');
		}
	}

	//白天黑夜
	.dayOrNight {
		@include flex_align_center;
		@include themeify {
			background: themed('Bg1');
		}
		.dayOrNight_item {
			flex: 1;
			@include flex_center;
		}
	}
}

.el-scrollbar {
	height: unset;
}

.left_icon {
	width: 18px;
	height: 18px;
	padding: 17px 16px;
}
.left_icon2 {
	padding-left: 0px;
	padding-right: 8px;
}

.left_text1 {
	font-size: 14px;
	@include themeify {
		color: themed('Text1');
	}
}
