.hotgame {
	@import '../public.scss';
	@include themeify {
		margin-bottom: 56px;
		position: relative;
		.paging {
			position: absolute;
			right: 0;
			top: -44px;
			height: 36px;
			width: 200px;
			text-align: right;
			span {
				height: 36px;
				width: 36px;
				margin-left: 10px;
				display: inline-block;
				background-color: themed('Bg1');
				text-align: center;
				line-height: 36px;
				cursor: pointer;
			}
		}
		.swiper-slide {
			background-color: themed('Bg1');
			overflow: hidden;
			border-radius: 12px;
			overflow: hidden;
			position: relative;
			.maintain {
				position: absolute;
				width: 100%;
				height: calc(100% - 52px);
				background-color: #000000cc;
				color: #fff;
				span {
					width: 84px;
					height: 30px;
					position: absolute;
					left: 0;
					top: 0;
					font-size: 18px;
					font-weight: 400;
					line-height: 30px;
					text-align: center;
					background-color: #45d91d;
					border-radius: 12px 0 12px 0px;
				}
				h3 {
					margin-top: 40px;
				}
			}
			svg {
				width: 100%;
				height: auto;
			}
			.message {
				height: 52px;
				line-height: 52px;
				padding: 0px 11px;

				text-align: left;

				span {
					display: block;
					font-size: 14px;
				}
				.gameName {
					color: themed('Text1');
					font-weight: 500;
				}
			}
		}
	}
}
