.GameSwiper {
	@import '../public.scss';
	@include themeify {
		margin-bottom: 56px;
		overflow: hidden;
		.mySwiper {
			width: 108% !important;
		}
		.swiper-slide {
			background-color: themed('Bg1');
			overflow: hidden;
			border-radius: 12px;
			overflow: hidden;
			svg {
				width: 100%;
				height: auto;
			}
			.message {
				height: 61px;
				padding: 5px 11px;

				text-align: left;

				span {
					display: block;
					font-size: 14px;
				}
				.gameName {
					color: themed('Text_s');
					font-weight: 500;
				}
				.money {
					display: inline-block;
					color: themed('Theme');
					background-color: #3bc11629;
					height: 20px;
					line-height: 20px;
					padding: 0 5px;
				}
			}
		}
		h3 {
			font-weight: normal;
			line-height: 40px;
		}
	}
}
