@import "../../styles/themes";
// 使用默认主题
$selected-theme: map-get($themes, default);
$radius: 6px;
$bg-color: map-get($selected-theme, Bg1);
$ac-color: map-get($selected-theme, Bg3);
$text-color: map-get($selected-theme, Text1);
$line-color: map-get($selected-theme, Line);
.text {
  font-size: 14px;
  //color:$text-color;
  @include themeify {
    color: themed('Text1') !important;
  }
}

.bg-color {
  @include themeify {
    background: themed('Bg1');
    color: themed('Text1') !important;
  }
}

.ac-color {
  //background: $ac-color;
  @include themeify {
    background: themed('Bg3');
    color: themed('Text_s') !important;
  }
}

.right-title {
  font-size: 16px;
  padding: 20px;
  border-bottom: 1px solid $line-color;
  @include themeify {
    color: themed('Text_a');
  }
}

@mixin center {
  display: flex;
  align-items: center;
  justify-content: center;
  @include themeify {
    color: themed('Text_a');
  }
}

.center {
  @include center
}

@mixin card {
  //background: $bg-color;
  border-radius: $radius;
  @include themeify {
    background: themed('Bg1');
  }
}

@mixin drop-right {
  //color: #fff;
  //margin-left: 20px;
  //width: 1200px;
  @include themeify {
    color: themed('Text_s');
  }
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 144px;
  height: 48px;
}

//:deep {
//  .el-input {
//    --el-color-primary: white;
//    --el-input-placeholder-color: #656E78
//  }
//
//  .el-input__wrapper {
//    @include themeify {
//      background: themed('Bg1');
//    }
//  }
//}

:deep {
  .el-dialog {
    border-radius: $radius;
    background: $bg-color;
  }

  .el-dialog__title {
    color: white;
  }
}


.deposit-dialog {
  height: 100%;
  border-radius: 24px;
  @include themeify {
    background: themed('Bg1');
  }
  padding-bottom: 30px;
  box-sizing: border-box;

  .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 28px 32px;

    .label {
      @include themeify {
        color: themed('Text_s');
      }
      font-family: 'PingFang SC';
      font-size: 20px;
      font-weight: 500;
    }

    .dialog_close:hover {
      @include themeify {
        color: themed('Text_s');
      }
      transform: rotate(-90deg) scale(1.05);
      transition: all 0.3s;
    }
  }
}

:deep(.el-dialog) {
  background-color: unset;
  box-shadow: unset;
  overflow: hidden;
  // max-height: calc(100% - 220px);
}

:deep(.el-dialog.is-align-center) {
  margin: 110px auto;
}

:deep(.el-dialog__body) {
  height: 100%;
}

:deep(.el-dialog__header),
:deep(.el-dialog__body) {
  margin: 0;
  padding: 0;
}
