:root {
	--Line_1: #111214;
	--Line_2: #373a40;
	--Icon_1: #67707b;
	--Icon_2: #ffffff;
	--Icon_3: #666869;
	--button: #2d2e32;
	--icon: #9fa5ac;
	--Bg: #1d1f23;
	--Bg1: #24262b;
	--Bg2: #1a1c20;
	--Bg3: #2e3035;
	--Bg4: #1f2125;
	--Bg5: #ff284b;
	--Text1: #98a7b5;
	--Text2: #4d565e;
	--Text2_1: #656e78;
	--Text_s: #ffffff;
	--Text_a: #ffffff;
	--Theme: #ff284b;
	--F1: #ffa800;
	--F2: #01aff6;
	--Warn: #ff0000;
	--Favorites: #ff284b;
	--butter: #2d2e32;
	--popoverShadow: rgba(14, 16, 19, 0.2);
}
