html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	padding: 0;
}
/* 取消标签下划线 */
a {
	text-decoration: none;
}
img {
	display: inline-block;
	vertical-align: middle;
}

ul {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}

input[type="text"]:focus,
input[type="password"]:focus {
	outline: none;
}

/* 取消微软浏览器密码眼睛样式 */
input[type="password"]::-ms-reveal {
	display: none;
}
.elimg {
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
	display: block;
}

.pointer {
	cursor: pointer;
}

html,
body {
	min-height: 100vh;
	background: var(--Bg);
	overflow: hidden;
	min-width: 1350px;
}

.slide-fade-enter-from {
	transform: translateX(-20px);
	opacity: 0;
}
.slide-fade-leave-to {
	transform: translateX(20px);
	opacity: 0;
}

@keyframes fadeIn {
	from {
		opacity: 0;
		transform: scale(0.9);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.fade-in {
	animation: fadeIn 0.5s forwards;
}
