* {
	box-sizing: border-box;
	font-family: "PingFang SC";
	.flex_space-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.flex_start {
		display: flex;
		align-items: center;
	}
	.text-center {
		text-align: center;
	}
	.curp {
		cursor: pointer;
	}

	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
	.flex-alignCenter {
		display: flex;
		align-items: center;
	}
	.text_unline {
		text-decoration: underline;
	}

	.max-width {
		max-width: 1308px;
		margin: 0 auto;
	}
	.ellipsis {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.ellipsis2 {
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.Wran_text {
		color: var(--Warn);
	}
	.color_Theme {
		color: var(--Theme);
	}
	.color_F2 {
		color: var(--F2);
	}
	.color_F1 {
		color: var(--F1);
	}
	.Text_s {
		color: var(--Text_s);
	}
	.Text1 {
		color: var(--Text1);
	}
	.Text2 {
		color: var(--Text2);
	}
	.Text2_1 {
		color: var(--Text2_1);
	}
	.Text3 {
		color: var(--Text3);
	}
	.Texta {
		color: var(--Text_a);
	}
	.color_f1 {
		color: var(--F1);
	}
	.color_sussess {
		color: var(--Success);
	}
	.common_input {
		width: 100%;
		height: 46px;
		background: var(--Bg1);
		border: none;
		padding: 0 16px;
		color: var(--Text_s);
		outline: none;
		border-radius: 4px;
	}
	.verifyError {
		border: 1px solid var(--F1);
		border-radius: 4px;
	}
	.common_input::placeholder {
		color: var(--Text2);
	}
	.common_btn {
		width: 100%;
		height: 36px;
		border-radius: 4px;
		outline: none;
		border: none;
		cursor: pointer;
		background: var(--Theme);
		color: var(--Text_s);
	}
	.common_btn:disabled {
		background: var(--butter);
		color: var(--Text2);
		cursor: not-allowed;
	}
}
* {
	::-webkit-scrollbar {
		height: 6px;
	}
	::-webkit-scrollbar-track {
		background-color: transparent;
	}
	::-webkit-scrollbar-thumb {
		background: var(--Line_2);
		border-radius: 5px;
	}
}
