:deep(.el-dropdown) {
	width: 100%;

	.el-dropdown-content {
		height: 26px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 10px;
		padding: 4px 10px;
		border-radius: 4px;
		background: var(--Bg2);
		cursor: pointer;
		box-sizing: border-box;
		.left {
			display: flex;
		}
		.icon {
			width: 8px;
			height: 12px;
			transform: rotate(90deg);
		}
	}

	.popperClass {
		width: 200px;
		max-height: 240px;
		border-radius: 4px;
		overflow-y: scroll;
		border: 0;
		background-color: var(--Bg1);
		.el-dropdown-menu {
			padding: 0px;
			background-color: var(--Bg1);
			.dropdown-item-active {
				background-color: var(--Bg2);
				.value {
					color: var(--Text_s);
				}
			}
			.el-dropdown-menu__item {
				width: 100%;
				height: 40px;
				padding: 10px 12px;
				.value {
					color: var(--Text1);
					font-family: "PingFang SC";
					font-size: 14px;
					font-weight: 400;
					box-sizing: border-box;
					white-space: nowrap; /* 禁止换行 */
					overflow: hidden; /* 隐藏超出容器范围的内容 */
					text-overflow: ellipsis; /* 使用省略号代替被隐藏的文本 */
				}
			}
			.el-dropdown-menu__item:not(.is-disabled):focus {
				background-color: var(--Bg2);
			}
		}
	}

	// .popperClass::-webkit-scrollbar {
	// 	width: 0.5em; /* 设置滚动条宽度 */
	// }

	// .popperClass::-webkit-scrollbar-track {
	// 	background-color: transparent; /* 设置滚动条轨道背景色 */
	// }
}
