.Carousel {
	position: relative;
	width: 100%;
	div {
		width: 100%;
	}

	@include themeify {
		.carousel-swiper {
			.swiper-slide img {
				display: block;
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
			.swiper-pagination {
				position: relative !important;
				margin-top: 10px;
				.swiper-pagination-bullet {
					background-color: themed('Bg3');
					width: 20px;
					border-radius: 20px;
					transition: 1s;
				}
				.swiper-pagination-bullet-active {
					background-color: themed('Text_s');
					width: 40px;
				}
			}
		}
		.paging {
			span {
				height: 36px;
				width: 36px;
				// margin-left: 10px;
				display: inline-block;
				background-color: themed('Bg1');
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				position: absolute;
				top: calc(50% - 30px);
			}
			.left {
				left: -50px;
			}
			.right {
				right: -50px;
			}
		}
	}
}
