.lottery-accordion {
	width: 100%;
	.accordion-header {
		display: flex;
		width: 100%;
		height: 38px;
		background: var(--Bg-6);
		box-shadow: 0 1px 2px #ffffff40 inset;
		border-radius: 8px;
		cursor: pointer;
		justify-content: space-between;
		align-items: center;
		padding: 8px 12px;
		&.expanded {
			.header-title {
				color: var(--Text-a);
			}
		}
		.header-title {
			font-size: 16px;
			color: var(--Text-1);
		}
		.header-icon {
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			.icon {
				transform: rotate(-90deg);
				transition: transform 0.3s ease;
				&.icon-expanded {
					transform: rotate(90deg);
				}
			}
		}
	}
	.accordion-content {
		padding: 12px;
		background-color: var(--Bg-4);
		.gameplay {
			font-size: 14px;
			color: var(--Text-1);
			margin-bottom: 16px;
		}
		.accordion-content-item-box {
			&.actived {
				> .accordion-content-item {
					background-color: var(--Theme);
					.info {
						color: var(--Text-a);
					}
				}
			}
			.accordion-content-item {
				width: 100%;
				min-height: 44px;
				padding: 12px;
				font-size: 14px;
				background-color: var(--Bg-3);
				border-radius: 8px;
				cursor: pointer;
				transition: background-color 0.15s ease;
				> div:first-child {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 100%;
				}

				.title,
				.odds {
					color: var(--Text-a);
				}
				.info {
					color: var(--Text-2-1);
					margin-left: 8px;
					transition: color 0.15s ease;
				}
			}
		}
	}
}
