.home_banner {
	@import '../public.scss';
	width: 100%;
	height: 518px;
	position: relative;
	margin-bottom: 56px;
	button {
		outline: none;
		border: 0;
		width: 150px;
		height: 48px;
		border-radius: 6px;
	}
	div {
		width: 100%;
	}
	.banner_img {
		float: right;
	}
	.banner_text {
		position: absolute;
		top: 70px;
		left: 20px;
		display: flex;
		flex-direction: column;
	}
	.top30 {
		top: 30px;
	}
	.blue_gradual_change {
		background: linear-gradient(to right, #00d6e7, #0097fe);
		background-clip: text;
		-webkit-background-clip: text;
		text-fill-color: transparent;
		color: transparent;
	}
	.green_gradual_change {
		background: linear-gradient(to right, #b4e817, #00d8e6);
		background-clip: text;
		-webkit-background-clip: text;
		text-fill-color: transparent;
		color: transparent;
	}
	.button_flex {
		display: flex;
		gap: 16px;
	}
	.block {
		position: absolute;
		bottom: 0;
		// padding: 0 20px;
	}
	.bannerList {
		display: flex;
		flex-direction: row;
		// justify-content: space-between;
		gap: 10px;
		ul,
		li {
			overflow: hidden;
		}
		li {
			flex: 1;
			// width: calc(33.33% - 10px);
		}
		svg {
			height: 160px;
			width: 100%;
			max-width: 392px;
		}
	}
}
