.home_table {
	@import '../public.scss';
	@include themeify {
		.tables {
			padding: 14px;
			background-color: themed('Bg2');
			text-align: center;
		}
		.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell,
		.el-table tr,
		.el-table th.el-table__cell {
			background-color: themed('Bg2');
			// cursor: pointer;
			font-weight: normal;
			border: 0;
		}
		.el-table__inner-wrapper:before {
			height: 0;
		}
		.el-table td.el-table__cell {
			border: 0;
		}
	}
}
