// 输入框单元格

.from {
	height: calc(100% - 86px);
	padding: 10px 32px 10px;
	overflow: scroll;
	box-sizing: border-box;
	.logo {
		img {
			margin: 0 auto;
		}
	}

	.cell {
		.label {
			@include themeify {
				color: themed('Text1');
			}
			font-family: 'PingFang SC';
			font-size: 14px;
			font-weight: 400;
		}

		:deep(input) {
			@include themeify {
				color: themed('Text1');
			}
		}

		.footer {
			@include themeify {
				color: themed('Text2');
			}
			text-align: right;
			font-family: 'PingFang SC';
			font-size: 14px;
			font-weight: 400;

			.exchange-rate {
				@include themeify {
					color: themed('Theme');
				}
			}
		}
	}

	// 快捷金额
	.quick-amount {
		.label {
			@include themeify {
				color: themed('Text1');
			}
			font-family: 'PingFang SC';
			font-size: 14px;
			font-weight: 400;
		}
		.amount-list {
			display: flex;
			flex-wrap: wrap;
			gap: 10px 14px;
			.amount-item {
				width: 72px;
				height: 32px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 16px;
				border: 1px solid;
				@include themeify {
					background-color: themed('Bg3');
					border-color: themed('Text2');
					color: themed('Text1');
				}
				box-sizing: border-box;
				cursor: pointer;
			}
			.amount-item-active {
				@include themeify {
					background: rgba(59, 193, 22, 0.15);
					border-color: themed('Theme');
					color: themed('Text_s');
				}
			}
		}
	}

	// 表单按钮
	.from-button {
		width: 220px;
		height: 48px;
		margin: 50px auto 0px;

		&:disabled {
			@include themeify {
				background: themed('Bg3');
				color: themed('Text2');
			}
		}
	}
}
