.container {
	margin: 20px;

	.bg {
		//width: 1200px;
		margin-bottom: 16px;
		//margin: 0 auto;

		span {
			display: block;
			//margin: 30px 0 18px 0;

			color: var(--Text-s);

			font-family: "PingFang SC";
			font-size: 20px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;
		}
	}

	.profile {
		display: flex;

		.title {
			width: 100px;
			text-align: center;
			overflow: hidden;
			white-space: wrap;
		}
	}

	.left-navigation {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		margin-right: 16px;
		width: 200px;

		.el-menu-vertical-demo {
			border-radius: 8px;

			background: var(--Bg-1);
		}
	}

	.right-navigation {
		flex: 1;
		border-radius: 8px;
		padding: 40px;
		background: var(--Bg-1);

		:deep() {
			> .title {
				margin-top: 15px;
				margin-bottom: 4px;
				font-size: 14px;

				&:first-child {
					font-size: 16px;
					margin-bottom: 15px;
				}
			}

			> .desc {
				font-size: 14px;
				line-height: 1.6;
				color: var(--Text-1);
			}

			ol.desc {
				padding-inline-start: 20px;
				margin-block-start: 4px;
				margin-block-end: 4px;
			}
		}
	}

	.el-menu {
		border-radius: 8px;
		border: none;

		background: var(--Bg-1);

		padding: 13px;
	}

	.el-menu-item {
		min-height: 36px;
		flex-shrink: 0;
		border-radius: 4px;
		display: flex;
		justify-content: center;
		align-items: center;

		color: var(--Text-1);

		font-family: "PingFang SC";
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		margin-bottom: 8px;
		padding-left: 0 !important;

		&:hover {
			background: var(--Bg-3);
		}

		&.is-active {
			color: var(--Text-s);
			font-family: "PingFang SC";
			font-size: 14px;
			font-style: normal;
			font-weight: 600;
			line-height: normal;

			background: var(--Bg-3);
		}
	}
}
