.Notification {
	padding: 20px;
	padding-top: 0;
	.card {
		margin-bottom: 8px;
		border-radius: 6px;
		padding: 16px;
		box-sizing: border-box;
	}
	.systematic,
	.activity {
		height: 632px;
		overflow-y: scroll;
	}
}
