.jackpot_table {
	@import '../../../public.scss';
	@include themeify {
		.home_paihang {
			height: 64px;
			text-align: center;
			display: block;
			font-size: 16px;
			display: flex;
			font-weight: 400;
			align-items: center;
			justify-content: center;
			width: 30px;
		}
		.tables {
			padding: 14px;
			background-color: themed('Bg2');
			text-align: center;
		}
		.el-table--enable-row-hover .el-table__body tr:hover > td.el-table__cell,
		.el-table tr,
		.el-table th.el-table__cell {
			background-color: themed('Bg2');
			// cursor: pointer;
			font-weight: normal;
			border: 0;
		}
		.el-table__inner-wrapper:before {
			height: 0;
		}
		.el-table td.el-table__cell {
			border: 0;
		}
	}
}
