.lottery-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.lottery-card {
		height: 164px;
	}
	.left {
		.lottery-card-box {
			display: flex;
			align-items: center;
			column-gap: 48px;
			.card-content {
				padding-left: 0;
				.left {
					width: 80px;
					height: 80px;
				}
				.right {
					.type-name {
						font-size: 28px;
					}
					.title {
						font-size: 20px;
					}
				}
			}
		}
		.card-footer {
			height: 44px;
			margin: 16px 0 0 0;
			.right {
				color: var(--Theme);
			}
		}
	}
	.right {
		img {
			width: 150px;
			height: 150px;
			margin-right: 60px;
		}
	}
}
