* {
	.flex_space-between {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
	}
	.flex-center {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 20px;
	}
}
